        <ul id="social">
            <li id="share">
                <span class="title"> link </span>
                <div class="dropdown share">
                    <ul class="social">
                      <!-- <li> <a href="http://xgezhang.com" target="_blank" title="xge技术博客" class="twitter">xge</a> </li> -->
                      <li> <a href="http://spf13.com" target="_blank" title="spf13 is Steve Francis" class="facebook">spf13</a> </li>
                      <li> <a href="http://nanshu.wang" target="_blank" title="Libaier" class="rss">Nanshu</a> </li>
                      <!-- <li> <a href="http://read.douban.com/column/195295/" target="_blank" title="100个故事" class="douban">一百个故事</a></li>
                      <li> <a href="http://zhangwenli.com/blog/" target="_blank" title="羡辙杂俎" class="yangzhe">羡辙杂俎</a></li>
                      <li> <a href="http://http://tianwang.gift/" target="_blank" title="Tian" class="tian">Tian</a></li> -->
                    </ul>
                <span class="icon icon-bubbles"> </span> <span class="subcount"></span> </div>
            </li>

            <li id="follow">
                <span class="title"> follow </span>
                <div class="dropdown follow">
                    <ul class="social">
                        <li> <a href="https://github.com/SuperDanielDu" target="_blank" title="GitHub" class="github">GitHub</a> </li>
                        <li> <a href="linkedin.com/in/chengze-du-4991a519a" target="_blank" title="LinkedIn" class="linkedin">LinkedIn</a> </li>
                        <li> <a href="https://www.instagram.com/superdanielove/" target="_blank" title="Subscribe by Instagram" class="rss">Instagram</a> </li>
                        <li> <a href="https://www.weibo.com/2782549717/profile" target="_blank" title="Follow me on WeiBo" class="twitter">WeiBo</a> </li>
                        <li> <a href="https://www.facebook.com/daniel.du.5243" target="_blank" title="Join me on Facebook" class="facebook">Facebook</a> </li>
                        <li> <a href="https://www.youtube.com/channel/UCTlCTf_QLQdIlc8L7h4Afpw" target="_blank" title="Subscribe by YouTube" class="slideshare">YouTube</a> </li>
                    </ul>
                    <span class="subcount">Be friends with me</span>
                </div>
            </li>
        </ul>
