<header id="header">
    <!-- <figure>
      <a href="/" border=0 id="logolink"><div class="icon-spf13-3" id="logo"> </div></a>
    </figure> -->
    <nav id="nav">
      <a href="/" style="color: rgb(52, 152, 219);font-family: fjalla one,serif;font-size: 50px;"><div style="font-weight:800" id="title">Chengze Du</div></a>
      <br>  
      <div>
        <a href="mailto: danielduchengze@gmail.com" target="_blank" class="mailto" style="color: rgb(52, 152, 219);font-family: fjalla one,serif;"> 
        </span> <span class="icon-mail"></span>
        <strong>danielduchengze@gmail.com</strong>
        </a>
      </div>
    </nav>
    <nav id="nav">
    {{ partial "nav.html" . }}
    {{ partial "social.html" . }}
    </nav>
</header>
